@use "styles/base-variables" as base;

.member {
  justify-self: center;
  text-align: center;

  width: 100%;
  position: relative;
  figcaption {
    font-weight: var(--font-black);
    opacity: var(--figure-caption-opacity, 0);
    position: absolute;
    top: var(--figure-caption-top, 85%);
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    @media (any-hover: hover) {
      transition: opacity 0.5s, top 0.9s;
    }
  }
  &__figure {
    position: relative;
    padding: 0;
    margin: 0;
    filter: grayscale(100%);
    overflow: hidden;
  }
  &__content {
    span {
      opacity: 0.7;
    }
  }
  @media (any-hover: hover) {
    &:hover {
      cursor: pointer;
      --figure-caption-opacity: 1;
      --figure-caption-top: 70%;
      .member__image {
        opacity: 0.7;
        scale: 1.05;
      }
    }
  }
  @media (any-hover: none) {
    outline: none;
    &:focus,
    &:active {
      outline: none;
    }
    --figure-caption-opacity: 1;
    --figure-caption-top: 70%;
    .member__image {
      opacity: 0.7;
    }
  }

  &__image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    aspect-ratio: 1/1;
    border-radius: inherit;
    transition: opacity 0.3s, scale 0.6s;
  }
  &__position {
    opacity: 0.7;
  }
  &__button {
    position: absolute;
    inset: 0;
    margin: 0;
    overflow: hidden;
    z-index: 0;
  }
}

.mleader {
  color: var(--color-grey);
  background-color: #fff;
  padding: var(--_mleader-padding, 2rem 0 0 0);
  display: grid;
  gap: 2rem;
  @media (min-width: base.$breakpoint-min-md) {
    --_mleader-padding: 2rem;
    grid-template-columns: auto 1fr;
    max-width: var(--page-max-width);
    img {
      max-width: 400px;
    }
  }
  img {
    filter: grayscale(100%);
  }
  &__name {
    color: var(--color-highlight);
  }
  &__text {
    font-size: 1.3rem;
    line-height: 1.5;
  }
}
