@use "styles/base-variables" as base;

.card {
	display: grid;
	gap: var(--spacing-4);
	border: 1px solid hsla(0, 0%, 100%, .16);
  box-shadow: inset 0 1px #ff8e5d66;
  padding: var(--spacing-6);
	border-radius: var(--spacing-6);
	transform-style: preserve-3d;
	position: relative;
	overflow: hidden;
	height: 100%;
	align-content: start;
	// color: rgb(196 187 211 / var(--tw-text-opacity, 1));
	background-image: (
		circle at 30% 140%,
		rgba(217,126,75,.3),transparent 37%),
		radial-gradient(circle at 50% 310%,#0400ff26,#a2a68700 78%),
		linear-gradient(transparent,#0d0a195e),
		radial-gradient(circle at 50% -30%,#a85c5c33,#67454500),
		radial-gradient(90% 10% at 50% 0,#a85c5c0d,#67454500 90%);

	@container (min-width: 581px) {
		--_card-img-ratio: 1/1;
    grid-template-columns: 200px 1fr;
  }
	&:hover {
		img {
			scale: 1.02;
		}
	}
	img {
		aspect-ratio: var(--_card-img-ratio, 16/9);
		object-fit: cover;
		transition: scale 0.5s var(--ease-in);
		border-radius: var(--spacing-2);
		border: 1px solid #ffffff27;
		width: 100%;
		@media (max-width: base.$breakpoint-md) {
			--_card-img-ratio: 1/1;
		}
	}
}