.lang {
	gap: 1rem;
	height: 100%;
	align-items: center;
	text-transform: uppercase;
	font-weight: var(--font-weight-bold);
	> * {
		text-align: center;
		height: inherit;
		align-items: center;

	}
	&__active {
		color: var(--color-highlight);
	}
}

.link {
	text-decoration: none;
	transition: color 0.2s ease-in-out;
	&:hover {
		color: var(--color-highlight);
	}
}

.languages {
	height: 100%;
	display: grid;
	align-items: center;
	svg {
		width: 30px;
		aspect-ratio: 1 / 1;
	}
}