@use "styles/base-variables" as base;

.navigation {
  --navigation-color: #fff;
	&.is-open  {
		--navigation-color: var(--color-sapphire);
		--_display-menu-nav: flex;
		height: 100%;
	}
	color: var(--navigation-color);
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	z-index: 10;
	padding: var(--navigation-padding, calc(var(--padding-desktop)/4) calc(var(--padding-desktop)));
	min-height: var(--section-min-height);
	background-color: var(--_header-bgr, rgba(0,0,0, 0.2));
	box-shadow: none;
	letter-spacing: 0;
	border-top: 4px solid var(--color-highlight);
	backdrop-filter: blur(10px);

  &__inner {
		display: grid;
		grid-template-columns: var(--nav-grid, 1fr auto 1fr);
    align-items: center;
		margin: auto;
		min-height: 30px;
		padding: var(--spacing-3) 0;
		@media (max-width: base.$breakpoint-max-md) {
			--nav-grid: 1fr auto;
		}

  }
	.link {
		color: inherit;
		opacity: var(--nav-link-opacity, .7);
		text-decoration: none;
		transition: opacity .3s var(--ease-in);
		font-weight: var(--font-weight-normal);
		&:hover {
			--nav-link-opacity: 1;
		}
		&__active {
			--nav-link-opacity: 1;
		}
	}

  &__logo {
    line-height: 0;
		opacity: var(--_logo-opacity, 1);
		transition: opacity .3s var(--ease-in);
		z-index: 1;

		a {
      display: block;

    }
		img, svg{
			max-width: var(--_logo-max-width, 200px);
		}
		.logo-hidden & {
			--_logo-opacity: 0;
		}
		.is-stuck & {
			--_logo-opacity: 1;
		}
  }
	&__menu{
		display: var(--_display-menu-nav, grid);
		align-items: center;
		@media (max-width: base.$breakpoint-max-md) {
			--_display-menu-nav: none;
		}
		.is-open & {
			@media (max-width: base.$breakpoint-max-md) {
				--_display-menu-nav: grid;
				position: fixed;
				top: 0;
				left: 0;
				width: 100%;
				height: 100dvh;
				background-color: Canvas;
			}
		}

  }

	&__social {
		display: var(--_display-menu-nav, none);
		align-items: center;
		gap: var(--spacing-4);
		justify-self: end;
		@media (min-width: base.$breakpoint-md) {
			--_display-menu-nav: flex;
		}
		@media (max-width: base.$breakpoint-max-md) {
			position: absolute;
			bottom: 0;
			left: 0;
			justify-content: space-between;
			width: 100%;
			padding: var(--spacing-4);
		}
	}

	&__menu-list {
		display: var(--_display-menu-nav, flex);
		gap: 2rem;
		@media (min-width: base.$breakpoint-md) {
			> *:first-child {
				display: none;
			}
		}
		@media (max-width: base.$breakpoint-max-md) {
			.is-open & {
				--_display-menu-nav: grid;
			}
			font-size: 2rem;
			margin: auto;
		}
	}


  /* states */
  &.is-fixed,
	&.is-sticky {
		backdrop-filter: blur(8px);
		mask: black;
		backface-visibility: hidden;
  }
	&.is-stuck {
		&:after {
			backdrop-filter: blur(8px);
			mask: black;
			backface-visibility: hidden;
		}
	}
}



.nav {
	--navigation-primary-padding: 100px;
  --navigation-scroll-padding: 100px;
	--heading-case: uppercase;
	display: var(--display-nav);
	align-content: flex-start;
	grid-gap: 1rem;
	padding: calc(var(--padding-mobile)*2) var(--padding-mobile) var(--padding-mobile);
	font-weight: var(--font-black);

}

.hamburger {
  position: relative;
  width: 33px;
  height: 33px;
	color: inherit;
	justify-self: end;
	z-index: 1;
  &__lines {
    transition: all 0.35s var(--ease-in);

    span {
      position: absolute;
      top: 50%;
      left: 0;
      transform: translateY(-50%);
      width: 100%;
      height: 2px;
      background-color: currentColor;
      transition-timing-function: var(--ease-in);
      transition-duration: 0.3s;

      &:before,
      &:after {
        content: '';
        display: block;
        position: absolute;
        top: -10px;
        left: 0;
        width: 100%;
        height: 2px;
        background-color: inherit;
        transition: top 0.1s var(--ease-in) 0.25s, opacity 0.1s var(--ease-in);
      }

      &:after {
        top: auto;
        bottom: -10px;
        transition: bottom 0.1s var(--ease-in) 0.25s, transform 0.3s var(--ease-in);
      }
    }
  }

  /* states */
  &.is-nav-active & {
    &__lines {
			width: 1.5rem;
			&:before {
				content: '';
				position: absolute;
				width: 33px;
				height: 33px;
				border-radius: 50%;
				left: -4px;
			}
      span {
        transition-delay: 0.3s;
        transition-timing-function: var(--ease-in);
        transform: rotate(225deg);
				color: white;

        &:before {
          top: 0;
          transition: top 0.1s var(--ease-in), opacity 0.1s var(--ease-in) 0.12s;
          opacity: 0;
        }

        &:after {
          bottom: 0;
          transition: bottom 0.1s var(--ease-in), transform 0.22s var(--ease-in) 0.15s;
          transform: rotate(-90deg);
        }
      }
    }
  }

  @media (min-width: base.$breakpoint-min-md) {
    display: none;
  }
}


.fixedNav {
	@media (min-width: base.$breakpoint-min-md) {
		padding-top: calc(var(--navigation-height) - 2rem);
	}
	@media (max-width: base.$breakpoint-max-md) {
    padding-top: calc(var(--navigation-height));
  }
}