@use "styles/base-variables" as base;
@use "styles/mixins" as mx;

.modal {
  background: var(--color-white);
  border: 0;
	&__close {
		--_close-position: fixed;
		--_close-color: var(--color-white);
		@include mx.closeButton;
		@media (max-width: base.$breakpoint-max-md) {
			--_close-color: var(--color-grey);
		}
	}
	@media (max-width: base.$breakpoint-max-md) {
		top: 0;
		max-width: 100%;
		max-height: 100%;
		height: 100dvh;
		margin: 0;
	}
}
.modal::backdrop {
	background: rgb(0 0 0 / 0.5);
	backdrop-filter: blur(5px);
}


.modal[open] {
  animation: fade-in 1000ms forwards, fade-in 500ms forwards;
}

.modal[closing] {
  display: block;
  pointer-events: none;
  inset: 0;
  animation: fade-out 500ms forwards;
}


@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fade-out {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes slide-up {
  0% {
    transform: translateY(100%);
  }
  100% {
    transform: translateY(0%);
  }
}