@use "styles/variables" as base;

.portfolio {
  @media (width > base.$smedium) {
    margin: 2rem auto;
  }
  &__grid {
    display: grid;
    grid-gap: var(--portfolio-gap, 2rem);
    @media (width > base.$smedium) {
      --portfolio-gap: 1rem;
      grid-template-columns: repeat(auto-fit, 320px);
      justify-content: center;
      grid-auto-rows: 1fr;
    }
  }
}

.folio {
  padding: 0;
  aspect-ratio: 1;
  cursor: pointer;
  overflow: hidden;
  position: relative;
  @media (prefers-color-scheme: dark) {
    border: 1px solid var(--border-color);
  }
  img {
    transition: all 0.5s ease-in-out;
    transform: var(--_folio-scale, scale(1));
  }

  img {
    display: block;
    object-fit: cover;
    aspect-ratio: inherit;
    width: 100%;
    height: 100%;
  }
  &__link {
    display: block;
    width: 100%;
    aspect-ratio: inherit;
    position: relative;
    &:after {
      transition: all 0.5s ease-in-out;
      content: "";
      position: absolute;
      background-color: var(--_folio-bg, transparent);
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
    }
    @media (any-hover: hover) {
      &:hover {
        --_folio-left: 0;
        --_folio-scale: scale(1.05);
        --_folio-bg: rgba(0, 0, 0, 0.7);
      }
    }
    @media (any-hover: none) {
      &:after {
        background: linear-gradient(rgba(0, 0, 0, 0.1) 50%, rgba(0, 0, 0, 0.9) 100%);
      }
      .folio__item__cell {
        left: 0;
      }
    }
  }
}

.folio__item {
  display: grid;
  place-items: center;
  align-content: center;
  text-align: center;
  position: absolute;
  isolation: isolate;
  top: 0;
  width: 100%;
  height: 100%;
  color: #fff;
  padding: 1rem;
  pointer-events: none;
  z-index: 1;
  left: var(--_folio-left, -100%);
  @media (any-hover: hover) {
    align-items: center;
  }
  @media (any-hover: none) {
    align-items: flex-end;
    padding-bottom: 1rem;
  }
  @media (width > base.$smedium) {
    transition: all 0.5s ease-in-out;
  }
}

.folio__item__cell {
  text-align: center;
  position: relative;
  @media (width <= base.$smedium) {
    margin-top: 5px;
  }
}

.folio__item__name {
  margin-bottom: 0;
  text-wrap: balance;
  font-size: var(--_folio-title, 1.5rem);
  font-family: var(--header-font);
  @media (width > base.$medium) {
    --_folio-title: 2rem;
  }
  a {
    &:after {
      content: "";
      cursor: pointer;
      inset-block: 0;
      inset-inline: 0;
      position: absolute;
    }
  }
}

.folio__item__types {
  margin: 5px 0 0;
  padding: 0 1rem;
  color: rgba(var(--color-white), 0.6);
  font-size: 0.8rem;
  display: inline-block;
  line-height: 1.5;
  max-width: 80%;
  @media (width > base.$medium) {
    text-transform: uppercase;
    letter-spacing: 0.05rem;
  }
}
