@mixin styles {
  * {
    box-sizing: border-box;
  }

  img {
    max-width: 100%;
  }

  button {
    background-color: transparent;
    border: 0;
    font-family: inherit;
  }

  figure {
    margin: 0;
    padding: 0;
  }
}
